html,
body {
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 30px;
  color: $accent;
  @extend %Rubik-400;
  display: flex;
  flex-direction: column;
}

a{
  font-size: 16px;
  line-height: 30px;
  color: $accent;
  @extend %Rubik-400;
}

.main {
  flex-grow: 1;
}

.head-container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  color: #191919;
  @extend %DMSans-700;
  text-align: center;
  margin-bottom: 40px;
  &__tab{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    &-btn{
      border: none;
      background-color: transparent;
      font-size: 16px;
      color: #8b8b8b;
      @extend %DMSans-700;
      &:hover{
        color: #191919;
      }
    }
    &-item+.title__tab-item {
      margin-left: 30px;
    }
  }
}

.mixitup-control-active{
  color: #191919;
}

.partners--footer{
  background-color: #fef7f0;
}

.footer a{
  font-size: 14px;
  color: $footer;
  @extend %Rubik-400;
}

.footer-bottom{
  font-size: 14px;
  color: $footer;
  @extend %Rubik-400;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  padding-top: 15px;
  &__list{
    display: flex;
  }
  &__item{
    font-size: 14px;
    line-height: 24px;
    color: #979ba0;
    @extend %Rubik-400;
    &::after{
      content:"/";
      padding: 0 7px;
    }
    &:last-child{
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  &__list{
    display: flex;
    padding: 0 35px; 
  }
  &__item{
    margin-right: 15px; 
  }
  &__link{
    font-size: 16px;
    color: $accent;
    @extend %Rubik-400;
    padding: 12px 20px;
    border: 1px solid #a3bbc8;
  }
  &__link--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__next{
    font-size: 16px;
    color: $accent;
    @extend %Rubik-400;
    padding: 7px 20px;
    border: 1px solid #a3bbc8;
  }
}

@media (max-width: 1230px){
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    &__tab {
      margin-bottom: 60px;
      &-btn {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 23px;
    margin-bottom: 10px;
    &__tab {
      margin-bottom: 30px;
      &-btn {
        font-size: 12px;
      }
    }
  }
  .title__tab-item +.title__tab-item {
    margin-left: 10px;
  }
}