<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee by k1r</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
  {% include ('app/module/_header/_header.html') %}

  <main class="main">

    <section class="top">
      <div class="container">
        <h2 class="top__title">Blog</h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <div class="blog__inner">
          <div class="blog__content">
            <div class="blog__item">
              <a class="blog__item-link" href="#">
                <img class="blog__item-img" src="images/blog/item-1.jpg" alt="item img">
                <div class="blog__item-info">
                  <div class="blog__item-date">28 JANUARY, 2020</div>
                  <div class="blog__item-author">BY ADMIN</div>
                </div>
              </a>
              <h4 class="blog__item-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn" href="#">
                View More
                <svg width="22px" height="9px">
                  <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                    d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                </svg>
              </a>
            </div>
            <div class="blog__item">
              <a class="blog__item-link" href="#">
                <img class="blog__item-img" src="images/blog/item-2.jpg" alt="item img">
                <div class="blog__item-info">
                  <div class="blog__item-date">28 JANUARY, 2020</div>
                  <div class="blog__item-author">BY ADMIN</div>
                </div>
              </a>
              <h4 class="blog__item-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit
                amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn" href="#">
                View More
                <svg width="22px" height="9px">
                  <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                    d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                </svg>
              </a>
            </div>
            <div class="blog__item">
              <a class="blog__item-link" href="#">
                <img class="blog__item-img" src="images/blog/item-3.jpg" alt="item img">
                <div class="blog__item-info">
                  <div class="blog__item-date">28 JANUARY, 2020</div>
                  <div class="blog__item-author">BY ADMIN</div>
                </div>
              </a>
              <h4 class="blog__item-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum
                dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
              </p>
              <a class="blog__item-btn" href="#">
                View More
                <svg width="22px" height="9px">
                  <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                    d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                </svg>
              </a>
            </div>
            <div class="blog__item">
              <a class="blog__item-link" href="#">
                <img class="blog__item-img" src="images/blog/item-4.jpg" alt="item img">
                <div class="blog__item-info">
                  <div class="blog__item-date">28 JANUARY, 2020</div>
                  <div class="blog__item-author">BY ADMIN</div>
                </div>
              </a>
              <h4 class="blog__item-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
              </p>
              <a class="blog__item-btn" href="#">
                View More
                <svg width="22px" height="9px">
                  <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
                    d="M0.296,5.472 L0.288,5.470 L17.244,5.470 L17.144,8.329 C17.089,8.383 17.060,8.458 17.060,8.534 C17.060,8.611 17.089,8.684 17.144,8.738 L17.316,8.912 C17.370,8.966 17.443,8.996 17.520,8.996 C17.597,8.996 17.669,8.966 17.724,8.912 L21.916,4.700 C21.970,4.646 22.000,4.573 22.000,4.496 C22.000,4.419 21.970,4.346 21.916,4.292 L17.724,0.079 C17.669,0.026 17.597,-0.004 17.520,-0.004 C17.443,-0.004 17.370,0.026 17.316,0.079 L17.144,0.253 C17.089,0.307 17.060,0.379 17.060,0.457 C17.060,0.534 17.089,0.603 17.144,0.656 L17.257,3.521 L0.292,3.521 C0.133,3.521 -0.000,3.658 -0.000,3.817 L-0.000,5.187 C-0.000,5.346 0.137,5.472 0.296,5.472 Z" />
                </svg>
              </a>
            </div>
            <div class="pagination blog-pagination">
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
                </li>
              </ul>
              <a class="pagination__next" href="#">Next</a>
            </div>
          </div>
          <div class="blog__aside">
            <div class="filter-search filter__item">
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text">
                <button class="filter-search__btn" type="submit">
                  <img src="images/icons/search-blog.svg" alt="search img">
                </button>
              </form>
            </div>

            <div class="filter__item filter-category">
              <h3 class="filter__title">Category</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                    <svg width="6px" height="10px">
                      <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                        d="M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.612 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.075 0.306,-0.067 0.123,0.138 C0.035,0.238 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.890 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z" />
                    </svg>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Table</span>
                    <svg width="6px" height="10px">
                      <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                        d="M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.612 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.075 0.306,-0.067 0.123,0.138 C0.035,0.238 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.890 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z" />
                    </svg>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                    <svg width="6px" height="10px">
                      <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                        d="M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.612 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.075 0.306,-0.067 0.123,0.138 C0.035,0.238 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.890 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z" />
                    </svg>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                    <svg width="6px" height="10px">
                      <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                        d="M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.612 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.075 0.306,-0.067 0.123,0.138 C0.035,0.238 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.890 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z" />
                    </svg>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                    <svg width="6px" height="10px">
                      <path fill-rule="evenodd" fill="rgb(36, 63, 77)"
                        d="M0.472,9.538 C0.591,9.538 0.710,9.492 0.803,9.398 L5.024,5.133 C5.028,5.128 5.032,5.124 5.037,5.120 C5.077,5.077 5.109,5.028 5.132,4.976 C5.132,4.976 5.132,4.977 5.132,4.975 C5.162,4.907 5.177,4.832 5.177,4.758 C5.177,4.757 5.177,4.757 5.177,4.756 C5.177,4.684 5.162,4.612 5.133,4.545 C5.133,4.544 5.133,4.544 5.133,4.544 C5.133,4.544 5.133,4.544 5.133,4.543 C5.109,4.490 5.077,4.440 5.035,4.396 C5.032,4.391 5.028,4.387 5.024,4.384 L0.803,0.119 C0.609,-0.075 0.306,-0.067 0.123,0.138 C0.035,0.238 -0.008,0.364 -0.008,0.490 C-0.008,0.626 0.042,0.762 0.141,0.862 L3.998,4.758 L0.141,8.655 C0.042,8.755 -0.008,8.890 -0.008,9.026 C-0.008,9.153 0.035,9.280 0.123,9.379 C0.218,9.485 0.345,9.538 0.472,9.538 Z" />
                    </svg>
                  </div>
                </label>
              </form>
            </div>

            <div class="recent-posts">
              <h3 class="filter__title recent-posts__title">RECENT POSTS</h3>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/recent-1.jpg" alt="recent img">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h5 class="recent-posts__box-title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                </a>
                <div class="recent-posts__date">
                  28 JANUARY, 2020
                </div>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/recent-2.jpg" alt="recent img">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h5 class="recent-posts__box-title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                </a>
                <div class="recent-posts__date">
                  28 JANUARY, 2020
                </div>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/recent-3.jpg" alt="recent img">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h5 class="recent-posts__box-title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                </a>
                <div class="recent-posts__date">
                  28 JANUARY, 2020
                </div>
              </div>
            </div>
            <div class="recent-posts__item">
              <a class="recent-posts__img-link" href="#">
                <img class="recent-posts__img" src="images/blog/recent-4.jpg" alt="recent img">
              </a>
              <div class="recent-posts__box">
                <a class="recent-posts__box-link" href="#">
                  <h5 class="recent-posts__box-title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                </a>
                <div class="recent-posts__date">
                  28 JANUARY, 2020
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include ('app/module/_partners/_partners.html') %}

  </main>
  {% include ('app/module/_footer/_footer.html') %}


  <script src="js/main.min.js"></script>
</body>

</html>