.top-slider {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #fcd7b6;
  height: 820px;

  &__inner {}

  &__container {
    max-width: 1330px;
  }

  &__content {
    padding-top: 130px;
    padding-right: 130px;
  }

  &__item {
    display: flex !important;
    // justify-content: space-around;
    // align-items: center;
    padding-top: 90px;
  }

  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    color: $accent;
    @extend %Rubik-500;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 30px;
    color: $head;
    @extend %Rubik-400;
    margin-bottom: 64px;
  }

  &__link {
    background-color: $btn;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    padding: 24px 100px 24px 27px;
    @extend %Rubik-500;
    position: relative;

    & svg {
      position: absolute;
      top: 45%;
      left: 160px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin: 0 5px;
      line-height: 0;

      button {
        font-family: 'Rubik-Medium';
        font-weight: 500;
        padding: 0;
        font-size: 11px;
        width: 30px;
        height: 30px;
        color: #667983;
        background-color: #fde3cc;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }

      &.slick-active {
        button {
          color: $accent;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1230px){
  .top-slider{
    height: 600px;
    &__content {
      padding-top: 40px;
      padding-left: 15px;
      padding-bottom: 40px;
    }
    &__img {
      width: 40%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1050px) {
  .top-slider {
    height: 470px;
    &__content {
      padding-top: 0;
      padding-right: 15px;
    }
    &__item {
      padding-top: 40px;
      .top-slider__img {
        display: none;
      }
    }
  }
}

@media (max-width: 650px){
  .top-slider {
    height: 400px;
    &__title {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 25px;
    }
    &__text{
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 490px) {
  .top-slider {
    height: 370px;
    &__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 20px;
    }
  }
}