.info {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 15px 75px;
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    padding-top: 50px;

    svg {
      margin-top: 10px;
    }
  }

  &__item-content {
    max-width: 240px;
    padding-left: 25px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 40px;
    @extend %DMSans-700;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    @extend %DMSans-400;
  }

  &__item-line {
    background-color: #e8e4df;
    width: 1px;
    height: 170px;
  }
}

.products {
  &__items {
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 35px 0;

    &-img__box {
      position: relative;
      height: 230px;
      width: 270px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-link__box {
      position: absolute;
      height: 45px;
      width: 190px;
      bottom: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: translateY(300%);
      transition: all .3s;
    }

    &-link {
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      width: 45px;
      height: 45px;
      position: relative;
      transition: all .3s;

      path {
        transition: all .3s;
      }

      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-link:hover {
      background-color: #a3bac7;

      path {
        fill: #fff;
      }
    }

    &-img {
      object-fit: cover;
    }

    &:hover {
      .products__item-link__box {
        transform: translateY(0);
      }
    }

    &-title {
      font-size: 16px;
      line-height: 40px;
      @extend %DMSans-500;
      color: $accent;
      margin-top: auto;
    }

    &-price {
      font-size: 16px;
      line-height: 40px;
      @extend %DMSans-700;
      color: $btn;
    }
  }
}

.products__bottom {
  max-width: 1800px;
  margin: 0 auto;
  padding: 145px 15px 100px;
  display: flex;

  &-item {
    display: flex;
    min-height: 390px;
    width: 100%;
    background-color: #feefe2;
    position: relative;

    img {
      position: absolute;
      top: -100px;
      left: 130px;
    }
  }

  &-item+.products__bottom-item {
    margin-left: 30px;
  }

  &-img {
    width: 50%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    font-size: 26px;
    line-height: 32px;
    color: $accent;
    @extend %DMSans-700;
    margin-bottom: 30px;
  }

  &-text {
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    @extend %Rubik-400;
    margin-bottom: 35px;
  }

  &-btn {
    width: 180px;
    font-size: 15px;
    line-height: 12px;
    color: $head;
    padding: 24px 20px 24px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    @extend %Rubik-500;
    position: relative;

    & svg {
      position: absolute;
      top: 45%;
      left: 135px;
    }
  }
}

@media (max-width: 1400px){
  .products__bottom{
    &-item{
      img{
        left: 0;
      }
    }
    &-content{
      padding: 0 10px;
    }
  }
}

@media (max-width: 1230px){
  .products {
    &__items {
      min-height: 800px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

@media (max-width: 1100px){
  .products__bottom-item +.products__bottom-item{
    margin-left: 0;
    margin-top: 30px;
  }
  .products__bottom {
    display: block;
    &-item {
      img {
        top: 0;
      }
    }
    &-content {
      padding: 0 10px;
    }
  }
}

@media (max-width: 950px){
  .info{
    flex-direction: column;
    align-items: center;
    &__item{
      padding-top: 20px;
    }
    &__item-line{
      display: none;
    }
  }
  .products {
    &__items {
      min-height: 800px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

@media (max-width: 650px){
  .products {
    &__items {
      min-height: 800px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 560px){
  .products__bottom{
    &-item {
      min-height: 260px;
      img {
       max-width: 30%;
       top: 10px;
      }
    }
    &-title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    &-text {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 450px){
  .info {
    display: block;
    &__item{
      width: 100%;
    }
    &__item-content{
      padding-left: 15px;
    }
    &__item-text{
      font-size: 16px;
      line-height: 30px;
    }
    &__item-text{
      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media (max-width: 380px){
   .products__bottom {
     &-img{
       width: 0;
     }
     &-item {
      img {
        display: none;
      }
    }
  }
}