.video {
  height: 501px;
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}