.partners {
  padding: 75px 0 70px;

  &__list {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 760px){
  .partners{
    &__list{
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }
    &__item {
      margin: 10px 35px;
    }
  }
}